/* basic stuff */

body {
    margin: 0;
    padding: 0;
    background: #020a27;
    transition: 0.2s;
}

* {
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

#container {
    height: 100%;
}

.heading {
    color: #ECB365;
    font-size: 45px;
    margin: 0;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.subheading {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.5px;
    margin: 0;
    text-align: center;
    font-size: 27px;
    color: #fff44f;
}


/* navbar and footer */

#navbar {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
    position: fixed;
    top: 0;
    height: 40px;
    background: #30475E;
    z-index: 5;
    display: flex;
    justify-content: center;
}

#menu {
    position: fixed;
    z-index: 5;
    top: 5px;
    left: 5px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#menu div {
    width: 25px;
    border-radius: 4.2px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: 0.3s;
}

.bar1change {
    transform: rotate(-45deg) translate(-8px, 4px);
}

.bar2change {
    opacity: 0;
}

.bar3change {
    transform: rotate(45deg) translate(-6px, -4px);
}

#footer {
    width: 100%;
    font-family: sans-serif;
    position: fixed;
    bottom: 10px;
    z-index: 5;
    display: flex;
    justify-content: center;
}

#navbar ul,
#footer ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

#navbar ul li {
    margin: 0 15px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.05cm;
}

#footer ul li {
    transition: 0.15s linear;
    margin: 0 7px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.05cm;
    border-radius: 100%;
    position: relative;
    bottom: 0;
    transform: scale(1, 1);
    opacity: 0.6;
}

#footer ul li:hover {
    position: relative;
    bottom: 5px;
    transform: scale(1.1, 1.1);
    opacity: 1;
}

#navbar ul li a {
    text-decoration: none;
    transition: 0.2s;
    background: #30475E;
    color: #fff44f;
    transition: 0.2s;
    padding: 10px 5px;
    height: 40px;
}

#footer ul li a {
    text-decoration: none;
    padding: 0;
}

#navbar ul li a:hover {
    color: #30475E;
    background: #fff44f;
}

#footer ul li a img {
    width: 50px;
    box-shadow: 0px 0px 0px rgb(255, 255, 255);
    border-radius: 100%;
    transition: 0.1s linear;
}

#footer ul li a img:hover {
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}


/* home page, about page and projects page */

#itchsocial {
    filter: invert(1);
    width: 45px !important;
    box-shadow: 0px 0px 0px black !important;
}

#itchsocial:hover {
    box-shadow: 0px 0px 5px rgb(0, 0, 0) !important;
}

#homepage {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 1, 41, 0.6), rgba(2, 62, 138, 0.6)), url('bg img 1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#homepagecontent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#name {
    font-size: 80px;
    margin: 0;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1.5px;
}

#tagline {
    font-size: 20px;
    margin: 0;
    color: rgb(214, 214, 214);
    font-weight: 100;
}

#e {
    color: rgba(0, 0, 0, 0);
}

#about,
#projects {
    background: #092f40;
    align-self: center;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 90%;
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#projects {
    display: block;
}

#introandgif {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#introduction {
    width: 50%;
    padding: 20px;
    position: relative;
    align-self: center;
}

#description {
    color: #fff44f;
    font-size: 18px;
    margin: 0;
}

#lenk {
    color: rgb(255, 255, 194);
    font-size: 20px;
    text-decoration: none;
    background: #02172179;
    padding: 12px;
    border-radius: 5px;
    position: relative;
    top: 20px;
    transition: 0.1s;
}

#lenk:hover {
    background: #021721;
}

#gif {
    width: 40%;
    text-align: center;
    display: flex;
    align-items: center;
}

#gif img {
    width: 90%;
}

#websiteheading,
#gameheading {
    margin-top: 20px;
}

.list {
    width: 100%;
    display: block;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list ul {
    list-style: none;
}

.list ul li {
    border-left: 3px solid rgb(255, 255, 255);
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list ul li a {
    text-decoration: none;
    font-family: sans-serif;
    color: cyan;
    font-size: 20px;
}

.card {
    width: 350px;
    height: 350px;
    margin: 20px;
    text-align: center;
}

.card img {
    height: 100%;
    width: 100%;
}

.card .hover {
    background: rgba(0, 0, 0, 0);
    position: relative;
    bottom: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 100%;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    vertical-align: middle;
    align-items: center;
    align-content: center;
}

.card .hover:hover>* {
    opacity: 1;
    transform: translateY(-50%);
}

.card .hover>* {
    opacity: 0;
    transition: 0.3s;
    transform: translateY(calc(-50% + 20px));
}

.hovertext {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.card .hover:hover {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
}

.projectname {
    font-size: 1.7em;
    color: #FFF44F;
}

.madein {
    margin-top: 5px;
    color: rgb(255, 255, 177);
    background: rgba(7, 0, 66, 0.9);
    font-size: 1.2em;
}

.info {
    margin-top: 40px;
    color: white;
    font-size: 1em;
    margin-bottom: 40px;
}

.gothere {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background: navy;
    padding: 8px;
    font-size: 1.1em;
    margin-top: 20px;
    color: red;
    font-weight: bold;
}

@media(max-width:800px) {
    #homepage {
        background-image: linear-gradient(rgba(0, 1, 41, 0.6), rgba(2, 62, 138, 0.6)), url('bg img 2.png');
    }
    #name {
        font-size: 65px;
    }
    #tagline {
        font-size: 16px;
    }
    .heading {
        font-size: 35px;
    }
    .subheading {
        font-size: 25px;
    }
    #introduction {
        width: 45%;
        padding: 5px;
    }
    #description {
        font-size: 15px;
    }
    #lenk {
        font-size: 17px;
    }
    #gif {
        width: 53%;
    }
    #gif img {
        width: 100%;
    }
    .card a img {
        width: 100%;
        margin-bottom: 3px;
    }
}

@media(max-width:600px) {
    #name {
        font-size: 11vw;
    }
    #tagline {
        font-size: 16px;
    }
    .heading {
        font-size: 35px;
    }
    .subheading {
        font-size: 25px;
    }
    #projects,
    #about {
        width: 80%;
    }
    #introduction {
        width: 95%;
        padding: 5px;
    }
    #description {
        font-size: 15px;
    }
    #lenk {
        font-size: 17px;
        padding: 5px;
    }
    #gif {
        margin-top: 40px;
        width: 90%;
    }
    #gif img {
        width: 100%;
    }
    .card a img {
        width: 100%;
        margin-bottom: 3px;
    }
}

@media(max-width:450px) {
    #homepage {
        background-image: linear-gradient(rgba(0, 1, 41, 0.6), rgba(2, 62, 138, 0.6)), url('bg img 3.png');
    }
    #menu {
        visibility: visible;
        opacity: 1;
    }
    #navbar ul {
        margin-top: 50px;
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        position: relative;
        top: -10px;
        left: -420px;
        transition-duration: 0.5s;
        width: 100%;
        height: 200px;
        background: rgba(211, 211, 211, 0.8);
    }
    .ulchange {
        visibility: visible !important;
        opacity: 1 !important;
        left: 0 !important;
    }
    #navbar ul li {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #navbar ul li a {
        background: none;
        color: rgba(0, 0, 128, 0.6);
        box-sizing: border-box;
        transition: 0.5s;
    }
    #navbar ul li a:hover {
        background: none;
        color: navy;
    }
    #footer ul li a img {
        width: 35px;
        box-shadow: 0px 0px 0px rgb(255, 255, 255);
        border-radius: 100%;
        transition: 0.1s linear;
    }
    #footer ul li a img:hover {
        box-shadow: 0px 0px 3px rgb(255, 255, 255);
    }
    #itchsocial {
        filter: invert(1);
        width: 35px !important;
        box-shadow: 0px 0px 0px black !important;
    }
    #itchsocial:hover {
        box-shadow: 0px 0px 3px rgb(0, 0, 0) !important;
    }
    #footer ul li:hover {
        position: relative;
        bottom: 3px;
        transform: scale(1.05, 1.05);
        opacity: 1;
    }
}